/* Small screens (mobile) */
@media screen and (max-width: 767px) {
    nav{
        display: flex;
        justify-content: space-between;

        padding-top: 1.5%;
        max-width: 93%; /* Set your desired maximum width */
        margin: 0 auto; /* Center the navbar horizontally */

        height: 6%;
    }

    .logo{
        width: 149px;
        height: 33.26px;
    }

    .btn{
        display: none;
    }

    .mobileBtn{
        display: flex;
    }

    .mobileBtn img{
        width: 35px;
        height: 23px;
        padding-top: 5px;
    }
}