@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

nav{
    display: flex;
    justify-content: space-between;

    padding-top: 1.5%;
    max-width: 90%; /* Set your desired maximum width */
    margin: 0 auto; /* Center the navbar horizontally */

    height: 10%;
}

.logo{
    width: 200px;
    height: 50px;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    border-radius: 20px;
}

.mobileBtn{
    display: none;
}

.signIn{
    padding: 8px 18px;

    background: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    height: 40px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;

    color: #054E12;
}

.signUp{
    padding: 8px 18px;

    background: linear-gradient(263.79deg, #054E12 18.73%, #3B8004 95.09%);
    border-radius: 20px;
    border: none;
    cursor: pointer;

    height: 40px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;

    color: #FFFFFF;
}

/* Size can also be negative; see how it's smaller than the element */
.navBtn:hover,
.navBtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #3B8004;
  transform: translateY(-0.25em);
}