@media screen and (max-width: 767px) {
    .waitlist{
        height: 75vh;

        max-width: 93vw; /* Set your desired maximum width */
        margin: 0 auto; /* Center the navbar horizontally */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        margin-top: 5%;
    }

    .top{
        width: 90vw;
        height: 19px;
    
        margin-bottom: 10px;
    }
    
    .top p{
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    }
    
    .top .line{
        width: 40px;
    }

    .text h3{
        font-size: 20px;
        line-height: 36px;
        /* or 150% */
    
        margin-bottom: 10px;
    }



    .waitlistSVG{
        width: 89vw;
        height: 36vh;
    }



    .bottom{
        width: 90vw;
        height: 90px;
        
        justify-content: center;

        margin-top: 10%;
    }
    
    .bottom p{
        font-size: 16px;
    }
    
    .bottom form{
        width: 90vw;
        height: 40px;
    
        border-radius: 10px;
    }

    .bottom form input{
        width: 79%;
        height: 85%;

        font-size: 16px;
    }

    .bottom form button{
        padding: 12px 25px;
    
        width: 15%;
        height: 85%;
    
        border-radius: 8px;
    
        font-size: 15px;
    }

    #desktop{
        display: none;
    }

    #mobile{
        display: flex;
        flex-direction: column;
    }

}