.socials{
    height: 10%;

    max-width: 90%; /* Set your desired maximum width */
    margin: 0 auto; /* Center the navbar horizontally */

    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.icon{
    width: 30px;
    height: 30px;
}

.icon:hover{
    width: 35px;
    height: 35px;
}